body{
    min-width: 400px;
}
.header{
    background-color: lavender;
    width: 102vw;
    height:40px;
    display: flex
    
}
#hname:first-child  
    {
    margin-left: 5%;
    }
#hname 
{
    display: flex;
}
#hname li
{
    /* display: inline-block; */
    color:gray;
    margin-right: 5vw;
    margin-top: -1%;
    font-size:20px;
    font-weight: 900;
    font-family: 'calibri';

}
img{
    /* display: inline-block ; */
    height:30px;
    margin-left: 8vw;
    width:30px;
}
#design{
    /* display: inline-block ; */
    width:60px;
    padding-left: 1.4%;
    margin-left: 15vw;
    margin-top: 8px;
    color: white;
    padding-top: -6px ;
    height:23px;
    border-radius: 5rem;
    background-color: deepskyblue;
}
/* Body parts */
#lower{
    display:flex;
    background-color:gainsboro;
    padding:10px;
    width:100vw;
}
#profile{
    width:25vw;
    height:64vh ;
    background-color:wheat;
    /* margin:10px; */
    margin-right: 5px;
    display: inline-block;
    /* position: absolute; */
}
#upper{
    width:100%;
    height:32%;
    background-color: black;
    color:white;
    font-size: 40px;
    text-align: center;
}
#name{
    padding-top: 10%;
}  
#myimg img{
    height:100px;
    width:100px;
    border-radius: 50%;
    border: 2px solid #ff1493;
    box-shadow: 0px 0px 10px 1px #ff1493;
    margin-top: -30px;
    margin-left:30px;
    display: inline-block ;
}
#a1{
    text-decoration: underline;
    padding-left: 20px;
    font-weight: 900;
}

#a2{
    font-weight: 100;
    color: rgb(114, 111, 111);
    padding-left: 6px;
}
#tweets{
    display: inline-block;
    margin-top: 30px;
    margin-left: -10px;
}
#tweets li{
    padding-top: 10px;
    font-weight: 900;
    font-family: 'calibri';
    color:rgb(110, 110, 110);
}
#blue{
    color:deepskyblue !important;
}
#feeds{
    display: inline-block;
    background-color: floralwhite;
    height: auto;
    width:50vw;
    word-wrap:break-word !important;
}
#block
{
    border-bottom: rgb(207, 205, 205) 1px solid;
}
#myimg2{
    display: inline-block ;
}
#content
{
    display: inline-block ;
    padding-left:15px ;
    margin-top: -10px;
}
#myimg2 img{
    height:60px;
    width:60px;
    border-radius: 50%;
    border: 2px solid #ff1493;
    margin-left:20px; 
    margin-top: 20px;
}
#follows{
    width:25vw;
    height:auto !important;
    background-color: white;
    margin-left: 5px;
}
#follows h2{
    font-family: 'calibari';
    padding-left: 20px;
}
#followbtn{
    display: inline-block ;
    width:60px;
    padding-left: 8%;
    margin:20px 0px 10px 0px;
    color:deepskyblue;
    height:20px;
    border-radius: 5rem;
    border:1px solid deepskyblue;
    font-family: 'calibari';
    font-weight: 700;
}

@media screen and (max-width:900px) {
    #feeds{
        width:60vw;
    }
    #follows{
        display: none;
        width:0vw;
    }

    #profile{
        width:40vw;

    }
    #tweets{
        margin-top: 10px;

    }
    #hname li
    {
        font-size: 14px;
        margin-right: 3vw;
    }
    #hname:first-child  
    {
    margin-left: 1vw;
    }
    #design
    {
        margin-top: -2px;
        padding-top: 1px;
        padding-left: 8px;
        font-size: 20px;
        margin-left: 8vw;
    }
}
@media screen and (max-width:400px)
{
    #hname:first-child  
    {
    margin-left: -10px !important;
    }
    #header{
        width:105vw;
    }
    #design{
        width:0px;
        display: none;
    }
    #profile{
        width:40vw;
        height:80vh;
    }
    #feeds{
        width:60vw;
    }
    #name{
        font-size: 25px;
    }
    #myimg{
        margin-left: -8%;
    }
}